doctype html
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">
//if IE 8
	<html class="no-js lt-ie9">

- var link = {"datalink": "http://data.baltimoresun.com/jin/md-shootings-near-you/"}
//- var link = {"datalink": ""}

html(class="no-js", lang="en")

	head

		//Basic page needs
		meta(charset="utf-8")
		title How violent is your neighborhood?
		meta(name="description", content="Shootings and homicides in Maryland")
		meta(name="author", content="Jin Bae Kim")

		//Mobile Specific Metas
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

		//CSS
		link(rel="stylesheet" href="#{link.datalink}stylesheets/cartodb.css")
		link(rel="stylesheet" href="#{link.datalink}stylesheets/Control.OSMGeocoder.css")
		link(rel="stylesheet", type="text/css", href="#{link.datalink}stylesheets/css/style.css")

		//Fonts
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Old+Standard+TT|Lato|Montserrat")

		//Facebook Stuff
		meta(property="og:title", content="How violent is your neighborhood?")
		meta(property="og:url", content="#{link.datalink}")
		meta(property="og:image", content="#{link.datalink}images/thumb.png")
		meta(property="og:site_name", content="The Baltimore Sun")
		meta(property="og:description", content="Shootings and homicides in Maryland")
		meta(property="fb:app_id", content="310302989040998")

		//Twitter Stuff
		meta(name="twitter:card", content="summary")
		meta(name="twitter:site", content="@baltimoresun")
		meta(name="twitter:creator", content="@baltsundata")
		meta(name="twitter:title", content="How violent is your neighborhood?")
		meta(name="twitter:description", content="Shootings and homicides in Maryland")
		meta(name="twitter:image", content="#{link.datalink}images/thumb.png")
		meta(name="twitter:domain", content="baltimoresun.com")

	body
		//- #tophat
			.group
			#logo
				a(href="http://www.baltimoresun.com")
					img(src="#{link.datalink}images/baltimore-sun-logo-white.png" border="0")
			.tophat-share-tools
				span.icon-facebook
				span.icon-twitter
		.container
			.mapContainer
				.overlay
					.overlayTextContainer
						h2.overlayHeadline.overlayHeadline--1 How violent is your 
						h2.overlayHeadline.overlayHeadline--2 neighborhood?
					.arrowsContainer
						.arrow 
							p Enter your address
							img.arrowImg(src="#{link.datalink}images/arrow.png")
						.arrow 
							p See results near you
							img.arrowImg(src="#{link.datalink}images/arrow.png")
						.arrow 
							p View the full map
							img.arrowImg(src="#{link.datalink}images/arrow.png")
						.arrow 
							p Or click on the map
				#homicideMap.cartodbMap
				.mapHUD
					.mapButtonsContainer
						.mobileDirections
							p Click and drag on the map
							p or use the buttons below
						.mapButton.mapButton--nearby
							p Locate me
						.mapButton.mapButton--full
							p View full map
					.mapStatsContainer
						.mapStatItem.mapStatItem__numbers
							p.numbersIntro In 
								span.incidentsNumber
								span  incident
								span.incidentsPlural s
								span.withinMile <br> within one mile
								span :
							p.homicidesNumberWrap #[span.homicidesNumber 0] killed
							p.shootingsNumberWrap #[span.shootingsNumber 0] injured
					.share-tools
						p.sharetext Share this statistic:
						span.icon.icon-facebook
						span.icon.icon-twitter
					.infoboxContainer
						p Hover over a point for details on the incident
						.infobox.infobox--homicides
						.infobox.infobox--shootings
					.mobileFooter About this interactive
				footer
					.wrapper
						p.inspired Inspired by 
							a(href="http://www.thetrace.org/2015/12/gun-deaths-interactive-map-2015/" target="_blank") The Trace
						p.source Source: 							
							a(href="http://www.gunviolencearchive.org/" target="_blank") Gun Violence Archive (2015)
						p.credit Design by Emma Patti Harris
						p.credit Development by Jin Bae Kim

		//Javascript
		script(src="#{link.datalink}scripts/min/jquery-1.10.2.min.js")
		script(src="#{link.datalink}scripts/min/modernizr.js")
		script(src="#{link.datalink}scripts/min/cartodb.js")
		script(src="#{link.datalink}scripts/min/Control.OSMGeocoder.js")
		script(src="#{link.datalink}scripts/javascript.js")
		//- script(src="#{link.datalink}scripts/min/javascript-min.js")

		include ../../../../../Documents/bsun/online/md-shootings-near-you/includes/omniture.html
